# SPDX-FileCopyrightText: 2022 Johannes Loher
#
# SPDX-License-Identifier: MIT

name: Checks

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - 'v*.*.*'
  pull_request:
    branches:
      - '*'

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [20, 22]
    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: install node
        uses: actions/setup-node@v6.0.0
        with:
          node-version: ${{ matrix.node_version }}

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: .npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      - name: Install dependencies
        run: npm ci --cache .npm --prefer-offline

      - name: Lint
        run: npm run lint

      - name: Format Check
        run: npm run format:check

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@v6

      - name: Build
        run: npm run build
